@import "tailwindcss";

@theme {
  --color-plum: #1e1033;
  --color-plum-light: #2a1747;
  --color-magenta: #e930ff;
  --color-mint: #3dffc0;
  --color-danger: #ff4e4e;
  --color-text: #f5f0ff;
  --color-text-muted: #a99fc2;
}

body {
  background-color: var(--color-plum);
  color: var(--color-text);
}